﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
{% load i18n %}
{% load static %}
<html>
<head>
    <title>
        {{ app_name }} > {% block title %}{% endblock %}
    </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% block meta %}
    {% endblock %}

    <!--<link id="css_theme" type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/jQueryUI/{{ theme|default:'cupertino' }}/jquery-ui.min.css" />-->
    <link id="css_theme" type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/jQueryUI/{{ theme|default:"cupertino" }}/jquery-ui.min.css" />
    <script type="text/javascript" src="{% get_static_prefix %}js/jQuery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jQuery/jquery-ui-1.10.2.custom.min.js"></script>

    <script type="text/javascript" src="{% get_static_prefix %}js/jQuery/jquery.cookie.js"></script>

    <script type="text/javascript" src="{% get_static_prefix %}js/jQuery/jquery.jui_theme_switch.min.js"></script>

    {% block dajax_script %}
    {% endblock %}

    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}default/css/bill.css" media="all"/>
    <script type="text/javascript" src="{% get_static_prefix %}default/js/bill.js"></script>
    <script type="text/javascript">
        var datepicker_options = {
            dateFormat: "yy-mm-dd",
            monthNames: [ "{{ _('January') }}", "{{ _('February') }}", "{{ _('March') }}", "{{ _('April') }}", "{{ _('May') }}", "{{ _('June') }}", "{{ _('July') }}", "{{ _('August') }}", "{{ _('September') }}", "{{ _('October') }}", "{{ _('November') }}", "{{ _('December') }}" ],
            monthNamesShort: [ "{{ _('Jan') }}", "{{ _('Feb') }}", "{{ _('Mar') }}", "{{ _('Apr') }}", "{{ _('May') }}", "{{ _('Jun') }}", "{{ _('Jul') }}", "{{ _('Aug') }}", "{{ _('Sep') }}", "{{ _('Oct') }}", "{{ _('Nov') }}", "{{ _('Dec') }}" ],
            dayNames: [ "{{ _('Sunday') }}", "{{ _('Monday') }}", "{{ _('Tuesday') }}", "{{ _('Wednesday') }}", "{{ _('Thursday') }}", "{{ _('Friday') }}", "{{ _('Saturday') }}" ],
            dayNamesShort: [ "{{ _('Sun') }}", "{{ _('Mon') }}", "{{ _('Tue') }}", "{{ _('Wed') }}", "{{ _('Thu') }}", "{{ _('Fri') }}", "{{ _('Sat') }}" ],
            dayNamesMin: [ "{{ _('Su') }}", "{{ _('Mo') }}", "{{ _('Tu') }}", "{{ _('We') }}", "{{ _('Th') }}", "{{ _('Fr') }}", "{{ _('Sa') }}" ],
            weekHeader: "{{ _('Wk') }}",
            //nextText: "{{ _('NEXT') }}",
            //prevText: "{{ _('PREV') }}",
            nextText: "yy-mm",
            prevText: "yy-mm",
            //yearSuffix: "{{ _('CE') }}",
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            navigationAsDateFormat: true,
            //showWeek: true,
            showMonthAfterYear: true,
            constrainInput: true,
            yearRange: "1950:2100",
            maxDate: "+1m",
            //minDate: new Date(1950, 1, 1),
            hideIfNoPrevNext: true,
            gotoCurrent: true,
            autoSize: true
        };        //confirm('{{ path }}');
        //changecss($.cookie("css_theme"));
    </script>
    {% block custom_js %}
    {% endblock %}
</head>
<body class="ui-widget ui-widget-content">
<div id="pageid_layer" style="display: none;">
    <input id="theme_name" type="hidden" value="{{ theme|default:"cupertino" }}">
    <input id="pageid_current" type="hidden" value="">
    <input id="pageid_last" type="hidden" value="">
</div>
{% block CSSMenu %}
{% endblock %}

{% block Dialog %}
    <div id="popup_confirm" title="{{ _('Confirm') }}" style="display: none;">
        <div class="ui-dialog-content ui-helper-clearfix">
            <span id="confirm_header">{{ _('Will processing below item(s):') }}</span>
        </div>
        <div class="ui-widget-content">
            <span id="confirm_content"></span>
        </div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <button id="confirm_btnCancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" role="button" aria-disabled="false">
                    <span id="confirm_btnCancelText" class="ui-button-text">{{ _('CANCEL') }}</span>
                </button>
                <button id="confirm_btnOk" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" role="button" aria-disabled="false">
                    <span id="confirm_btnOkText" class="ui-button-text">{{ _('OK') }}</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% autoescape on %}

{% block hdwiki %}
    {% if debug == False %}
    <!--MOMO-->
    <script type="text/javascript">
        var momourl = "http://wiki.netcharm.local:9999";
        var momoid = "";
        var momolength = "16";
        var momotype = "2";
    </script>
    <script type="text/javascript" src="http://wiki.netcharm.local:9999/plugins/momo/momo.js"></script>
    <!--MOMO-->
    {% endif %}
{% endblock %}

    <div class="navigator ui-widget-header" id="navigator">
        <a href="/" title="{{ _('APPs Launcher') }}">
            <!--{{ _("APPs") }}-->
            <img src="{% get_static_prefix %}images/home.png" style="float: left; width: 36px; height: 36px;margin-top: 4px;margin-left: 4px;">
        </a>
        <ul>
            <li class="action">
                <a href="{{ app_root }}/">{{ _('HOME') }}</a>
            </li>
            &nbsp;
            <li class="action" title="{{ _('Enter Word What You Want To Searching') }}">
                <form action="{{ app_root }}/search" method="GET">
                    {% csrf_token %}
    {#                <label for="search_input">{{ _('Key Word') }}:</label>#}
                    <label for="search_input"></label>
                    <input id="search_input" type="text" name="q" value="{{ query|escape }}" size="28">
                    <input id="search_submit" type="submit" value="{{ _('Search') }}" class="ui-widget">
                </form>
            </li>
            &nbsp;
            {% if path != "{{ app_root }}/" %}
            <li class="action"><a onclick="history.back();" title="{{ _('Back To Last Page') }}">{{ _('BACK') }}</a></li>&nbsp;
{#            <li class="action"><a onclick="window.location.replace(document.referrer);" title="{{ _('Back To Last Page') }}">{{ _('BACK') }}</a></li>&nbsp;#}
            {% endif %}
            {% block navigator %}
            {% endblock %}
        </ul>
    </div>

    <div id="wrap" class="wrap">
        <div class="wrap_side_left">
            {% include "default/bills_navi_sideleft.html" %}
        </div>
        <div class="wrap_main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endautoescape %}
</body>
</html>
