﻿{% extends "default/book_generic.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ _("Book") }} -> {{ book.title|default:_("Add") }}{% endblock %}

{% block dajax_script %}
    <script type="text/javascript" src="{% get_static_prefix %}js/dajax/jquery.dajax.core.js"></script>
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}
    <script type="text/javascript">
        function adjust_button_douban()
        {
            //$("#id_isbn13").parent().append($("#button_douban_layer"));
            $("#id_isbn13").parent().append("&nbsp;");
            $("#id_isbn13").parent().append($("#button_douban_search"));
            $("#id_isbn13").parent().append("&nbsp;");
            $("#id_isbn13").parent().append($("#button_douban"));

            var datepicker_options = {
                dateFormat: "yy-mm-dd",
                monthNames: [ "{{ _("January") }}", "{{ _("February") }}", "{{ _("March") }}", "{{ _("April") }}", "{{ _("May") }}", "{{ _("June") }}", "{{ _("July") }}", "{{ _("August") }}", "{{ _("September") }}", "{{ _("October") }}", "{{ _("November") }}", "{{ _("December") }}" ],
                monthNamesShort: [ "{{ _("Jan") }}", "{{ _("Feb") }}", "{{ _("Mar") }}", "{{ _("Apr") }}", "{{ _("May") }}", "{{ _("Jun") }}", "{{ _("Jul") }}", "{{ _("Aug") }}", "{{ _("Sep") }}", "{{ _("Oct") }}", "{{ _("Nov") }}", "{{ _("Dec") }}" ],
                dayNames: [ "{{ _("Sunday") }}", "{{ _("Monday") }}", "{{ _("Tuesday") }}", "{{ _("Wednesday") }}", "{{ _("Thursday") }}", "{{ _("Friday") }}", "{{ _("Saturday") }}" ],
                dayNamesShort: [ "{{ _("Sun") }}", "{{ _("Mon") }}", "{{ _("Tue") }}", "{{ _("Wed") }}", "{{ _("Thu") }}", "{{ _("Fri") }}", "{{ _("Sat") }}" ],
                dayNamesMin: [ "{{ _("Su") }}", "{{ _("Mo") }}", "{{ _("Tu") }}", "{{ _("We") }}", "{{ _("Th") }}", "{{ _("Fr") }}", "{{ _("Sa") }}" ],
                weekHeader: "{{ _("Wk") }}",
{#                nextText: "{{ _("NEXT") }}",#}
{#                prevText: "{{ _("PREV") }}",#}
                nextText: "yy-mm",
                prevText: "yy-mm",
                //yearSuffix: "{{ _("CE") }}",
                firstDay: 1,
                changeMonth: true,
                changeYear: true,
                navigationAsDateFormat: true,
                //showWeek: true,
                showMonthAfterYear: true,
                constrainInput: true,
                yearRange: "1900:2100",
                maxDate: "+1m",
                //minDate: new Date(1950, 1, 1),
                hideIfNoPrevNext: true,
                gotoCurrent: true,
                autoSize: true
            };
            $('#id_read_start').datepicker( datepicker_options );
            $('#id_read_end').datepicker( datepicker_options );
            $('#id_pubdate').datepicker( datepicker_options );
            $('#id_boughtdate').datepicker( datepicker_options );
            
            var isbn13 = $('#id_isbn13').val();
            if(isbn13.length!=13)
            {
                $('#id_boughtdate').datepicker( 'setDate', 'today' );
            }

            $('#id_category').autocomplete();
        }

        function from_douban()
        {
            var isbn13 = $('#id_isbn13').val();
            if(isbn13.length==13)
            {
                if(isNaN(isbn13))
                {
                    return false;
                }
                else
                {
                    Dajaxice.apps.books.from_douban(Dajax.process, { 'book_id': isbn13 });
                    return true;
                }
            }
            return false;
        }
        
        function to_douban()
        {
            var isbn13 = $('#id_isbn13').val();
            if(isbn13.length==13)
            {
                if(isNaN(isbn13))
                {
                    return false;
                }
                else
                {
                    window.open("https://search.douban.com/book/subject_search?search_text=" + isbn13 +"&cat=1001", "Jump to douban.com Search Result Page");
                    return true;
                }
            }
            return false;
        }        
    </script>
{% endblock %}

{% block navigator %}

{% endblock %}

{#{% block side_left %}#}
{#{% endblock %}#}

{% block content %}
<div id="button_douban_layer">
    <a id="button_douban" class="action" onclick="from_douban();" title="{{ _("Get Information from douban.com") }}">{{ _("Douban") }}</a>
    <a id="button_douban_search" class="action" onclick="to_douban();" title="{{ _("Jump to douban.com Search Result Page") }}">{{ _("Douban Search") }}</a>
</div>

<form id="book_edit_form" enctype="multipart/form-data" action="." method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <fieldset class="form_fields ui-widget-content">
        {{ form.as_ul }}
        <li>
            <input class="form_submit" type="submit" value="{{ _("Save") }}" title="{{ _("Save Data to System") }}"/>
        </li>
    </fieldset>
</form>
<script type="text/javascript">
    adjust_button_douban();
</script>
{% endblock %}
